<div class="d-flex justify-content-center">
    <form class="addForm">
        <div class="form-group">
            <label for="staticLink">Уникальная ссылка</label>
            <input type="text" readonly class="form-control-plaintext" id="staticLink" value="@@@">
        </div>
        <div class="form-group">
            <label for="surname">Фамилия</label>
            <input type="text" class="form-control" id="surname" placeholder="*обязательно">
        </div>
        <div class="form-group">
            <label for="name">Имя</label>
            <input type="text" class="form-control" id="name" placeholder="*обязательно">
        </div>
        <div class="form-group">
            <label for="secondName">Отчество</label>
            <input type="text" class="form-control" id="secondName" placeholder="(при наличии)">
        </div>
        <div class="d-flex justify-content-around">
            <button type="button" class="btn btn-primary" *ngIf="!edit">Добавить гостя</button>
            <button type="button" class="btn btn-primary" *ngIf="edit">Редактировать гостя</button>
        </div>
    </form>
</div>