<div class="container-fluid form-bg">
  <form class="guestForm p-3 h-100" [formGroup]="guestForm" (submit)="saveAnswer()">
    <label class="py-4">Пожалуйста, ответьте на вопросы, которые мы для вас подготовили:</label>
    <div class="form-block">
      <div class="form-group pb-3 pb-sm-0">
        <label>Потребуется ли Вам трансфер? <br>(пос. Кокошкино > ресторан "Всё своё")</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="transfer" id="transferF" [value]="false" />
          <label class="form-check-label" for="transferF">
            Нет
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" formControlName="transfer" id="transferT" [value]="true" />
          <label class="form-check-label" for="transferT">
            Да, до торжества
          </label>
        </div>
      </div>
      <div class="form-group pb-3 pb-sm-0">
        <label>Есть ли у Вас особые предпочтения по еде?</label>
        <div class="form-check" *ngFor="let option of foodOptions">
          <input class="form-check-input" type="radio" [id]="'food' + option.value" formControlName="food" [value]="option.type" />
          <label class="form-check-label" [for]="'food' + option.value">
            {{ option.value }}
          </label>
        </div>
        <div class="form-check pb-3 pb-sm-0">
          <input
            *ngIf="guestForm.get('food').value === foodEnum.Other"
            [(ngModel)]="otherFood"
            [ngModelOptions]="{ standalone: true }"
            type="text"
            class="form-control"
            placeholder="Введите текст"
          />
        </div>
      </div>
      <div class="form-group pb-3 pb-sm-0">
        <label>Какой алкоголь Вы предпочитаете?</label>
        <div *ngFor="let option of alcohole.controls">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [id]="'alco' + option.get('value').value"
              [formControl]="option.get('checked')"
            />
            <label class="form-check-label" [for]="'alco' + option.get('value').value">
              {{ option.get('name').value }}
            </label>
          </div>
          <div class="form-check">
            <input
              *ngIf="option.get('value').value == alcoEnum.Other && option.get('checked').value"
              [(ngModel)]="otherAlco"
              [ngModelOptions]="{ standalone: true }"
              type="text"
              class="form-control my-3"
              placeholder="Введите текст"
            />
          </div>
        </div>
      </div>
      <div class="form-group pb-3 pb-sm-0">
        <label>Будет ли с Вами на празднике ребенок?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="ChildF" formControlName="hasChild" [value]="false" />
          <label class="form-check-label" for="ChildF">
            Нет
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="ChildT" formControlName="hasChild" [value]="true" />
          <label class="form-check-label" for="ChildT">
            Да
          </label>
        </div>
        <div class="form-group-container row" formArrayName="children" *ngIf="guestForm.get('hasChild').value">
          <div class="addButton col-sm-1">
            <button
              class="btn btn-primary fas fa-plus"
              *ngIf="guestForm.get('children').valid"
              (click)="addChild()"
              style="height: 38px;"
            ></button>
          </div>
          <div class="age col-sm">
            <div [formGroupName]="i" class="form-group row" *ngFor="let control of getFormControls('children'); let i = index">
              <div class="col-sm-6"><input formControlName="name" placeholder="Введите имя" class="form-control mb-1" type="text" /></div>
              <div class="col-sm-4"><input formControlName="age" placeholder="Укажите возраст" class="form-control mb-1" type="number" /></div>
              <div class="col-sm-2"><button class="btn btn-primary fas fa-minus mb-1" (click)="removeControl(i, 'children')"></button></div>
              
              
              
            </div>
          </div>
        </div>
      </div>
      <div class="form-group pb-3 pb-sm-0">
        <label>Хотели бы вы сидеть с кем-то конкретным?</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="NeiF" formControlName="hasNeighbour" [value]="false" />
          <label class="form-check-label" for="NeiF">
            Нет
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="NeiT" formControlName="hasNeighbour" [value]="true" />
          <label class="form-check-label" for="NeiT">
            Да
          </label>
        </div>
        <div *ngIf="guestForm.get('hasNeighbour').value" formArrayName="neighbours">
          <div ngbDropdown autoClose="outside">
            <button type="button" class="btn btn-light" id="dropdownConfig" ngbDropdownToggle>Выберите из списка</button>
            <div class="pl-0" ngbDropdownMenu aria-labelledby="dropdownConfig">
              <div class="form-check neighbour-item" ngbDropdownItem *ngFor="let neighbour of guests; let i = index" [formGroupName]="i">
                <input class="form-check-input" type="checkbox" formControlName="isChecked" [id]="'neighbour' + neighbour.id" />
                <label class="form-check-label" [for]="'neighbour' + neighbour.id">
                  {{ neighbour.surname }} {{ neighbour.name }} {{ neighbour.secondName }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center py-4">
        <button class="btn btn-primary" type="submit">Отправить</button>
      </div>
    </div>
  </form>
</div>
