@import '../../../colors.less';

.form-bg{
    background: url(../../../assets/form_bg.png);
    background-size: 200px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.guestForm{
    background: @blue;
    width: 660px;
    height: 1481px;
    margin: auto;
    color: white;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    &>label{
        font-size: 18px;
        line-height: 21px;
    }
}