<div class="container-fluid form-bg">
  <form class="guestForm p-3 h-100" [formGroup]="guestForm" (submit)="saveAnswer()">
    <label class="py-4">Пожалуйста, ответьте на вопросы, которые мы для вас подготовили:</label>
    <div class="form-block">
      <div class="form-group">
        <label>Потребуется ли Вам трансфер?</label>
        <div class="form-check">
          <input class="form-check-input styled" type="radio" formControlName="transfer" id="transferF" [value]="false" />
          <label class="form-check-label" for="transferF">
            Нет
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input styled" type="radio" formControlName="transfer" id="transferT" [value]="true" />
          <label class="form-check-label" for="transferT">
            Да, до торжества
          </label>
        </div>
      </div>
      <div class="form-group">
        <label>Есть ли у Вас особые предпочтения по еде?</label>
        <div class="form-check" *ngFor="let option of foodOptions">
          <input class="form-check-input styled" type="radio" [id]="'food'+option.value" formControlName="food"
            [value]="option.type" />
          <label class="form-check-label" [for]="'food'+option.value">
            {{option.value}}
          </label>
        </div>
        <div class="form-check">
          <input *ngIf="guestForm.get('food').value === foodEnum.Other" [(ngModel)]="otherFood"
          [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Введите текст" />
        </div>
      </div>
      <div class="form-group">
        <label>Какой алкоголь Вы предпочитаете?</label>
        <div class="form-check" *ngFor="let option of alcoholeOptions">
          <input class="form-check-input styled" type="radio" [id]="'alco'+option.value" formControlName="alcohole"
            [value]="option.type" />
          <label class="form-check-label" [for]="'alco'+option.value">
            {{option.value}}
          </label>
        </div>
        <div class="form-check">
          <input *ngIf="guestForm.get('alcohole').value === alcoEnum.Other" [(ngModel)]="otherAlco"
          [ngModelOptions]="{standalone: true}" type="text" class="form-control my-3" placeholder="Введите текст" />
        </div>
      </div>
      <div class="form-group">
        <label>Будет ли с Вами на празднике ребенок?</label>
        <div class="form-check">
          <input class="form-check-input styled" type="radio" id="ChildF" formControlName="hasChild" [value]="false" />
          <label class="form-check-label" for="ChildF">
            Нет
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input styled" type="radio" id="ChildT" formControlName="hasChild" [value]="true" />
          <label class="form-check-label" for="ChildT">
            Да
          </label>
          <div class="form-group-container d-flex" formArrayName="children" *ngIf="guestForm.get('hasChild').value">
            <div class="addButton">
              <button class="btn btn-primary fas fa-plus" *ngIf="guestForm.get('children').valid"
              (click)="addChild('children')"
              style="height: 38px;"></button>
            </div>
            <div class="age">
              <div [formGroupName]="i" class="form-group d-flex"
              *ngFor="let control of getFormControls('children'); let i = index">
              <input formControlName="name" placeholder="Введите имя" class="form-control mr-1" type="text">
              <input formControlName="age" placeholder="Укажите возраст" class="form-control ml-1" type="text">
              <button class="btn btn-primary fas fa-minus mx-2" (click)="removeControl(i, 'children')"></button>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Хотели бы вы сидеть с кем-то конкретным?</label>
        <div class="form-check">
          <input class="form-check-input styled" type="radio" id="NeiF" formControlName="hasNeighbour" [value]="false" />
          <label class="form-check-label" for="NeiF">
            Нет
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input styled" type="radio" id="NeiT" formControlName="hasNeighbour" [value]="true" />
          <label class="form-check-label" for="NeiT">
            Да
          </label>
        </div>
        <div class="form-check"
          *ngIf="guestForm.get('hasNeighbour').value"
          formArrayName="neighbours">
          <div ngbDropdown autoClose = "outside">
            <button type="button" class="btn btn-light" id="dropdownConfig" ngbDropdownToggle>Выберите из списка</button>
            <div ngbDropdownMenu
              aria-labelledby="dropdownConfig">
              <div class="form-check" ngbDropdownItem
                *ngFor="let neighbour of guests, let i=index"
                [formGroupName]=i>
                <input class="form-check-input" type="checkbox"
                  formControlName="isChecked"
                  [id]="'neighbour'+neighbour.id"
                />
                <label class="form-check-label" [for]="'neighbour'+neighbour.id">
                  {{neighbour.surname}} {{neighbour.name}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary" type="submit">Отправить</button>
      </div>
    </div>
  </form>
</div>