<div class="item header">
    <img src="../../assets/blue_flowers.png" alt="">
    <img src="../../assets/blue_flowers.png" alt="">
    <img src="../../assets/pink_flowers.png" alt="">
    <img src="../../assets/pink_flowers.png" alt="">
    <div class="content">
        <h2>Приглашение на свадьбу</h2>
        <div class="center-content">
            <h1>25</h1>
            <div class="rounded-circle">
                <h1>Ивана</h1>
                <h1>и</h1>
                <h1>Мария</h1>
            </div>
            <h1>07</h1>
        </div>
        <h1>2020</h1>
    </div>
</div>
<div class="item">
    
</div>