<ngb-accordion #acc="ngbAccordion">
<ngb-panel *ngFor="let guest of guestsList; index as i" title="{{guest.surname}} {{guest.name}}">
    <ng-template ngbPanelContent>
        <div>
            {{guest.food}}
        </div>
    </ng-template>
</ngb-panel>
<!-- <ngb-panel>
    <ng-template ngbPanelTitle>
    <span>&#9733; <b>Fancy</b> title &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
    222
    </ng-template>
</ngb-panel>
<ngb-panel title="Disabled" [disabled]="true">
    <ng-template ngbPanelContent>
    333
    </ng-template>
</ngb-panel> -->
</ngb-accordion>